a:hover >  .pl-ico.xgformula {
  background-position: -179px -268px;
  width: 12px;
  height: 12px;
}
a:hover > .pl-ico.xadd {
  background-position: 0px -242px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xaimg {
  background-position: -214px -138px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xdel {
  background-position: -156px -216px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xdownload {
  background-position: -234px -216px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xmodify {
  background-position: -26px -242px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xnext {
  background-position: -78px -242px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xoff {
  background-position: -156px -242px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xprev {
  background-position: -208px -242px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xremove {
  background-position: -260px -242px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xresize {
  background-position: -254px -126px;
  width: 15px;
  height: 19px;
}
a:hover > .pl-ico.xsplit {
  background-position: -294px -51px;
  width: 15px;
  height: 14px;
}
a:hover > .pl-ico.xupload {
  background-position: -174px -138px;
  width: 16px;
  height: 16px;
}
.pl-ico.xac {
  background-position: 0px -216px;
  width: 16px;
  height: 16px;
}
.pl-ico.xadd {
  background-position: -26px -216px;
  width: 16px;
  height: 16px;
}
.pl-ico.xadd2 {
  background-position: -52px -216px;
  width: 16px;
  height: 16px;
}
.pl-ico.xaimg {
  background-position: -78px -216px;
  width: 16px;
  height: 16px;
}
.pl-ico.xal {
  background-position: -294px -237px;
  width: 9px;
  height: 16px;
}
.pl-ico.xbook {
  background-position: -294px -123px;
  width: 14px;
  height: 14px;
}
.pl-ico.xcol1 {
  background-position: 0px 0px;
  width: 48px;
  height: 48px;
}
.pl-ico.xcol1.xselected {
  background-position: -58px 0px;
  width: 48px;
  height: 48px;
}
.pl-ico.xcol2 {
  background-position: 0px -58px;
  width: 48px;
  height: 48px;
}
.pl-ico.xcol2.xselected {
  background-position: -58px -58px;
  width: 48px;
  height: 48px;
}
.pl-ico.xcol3 {
  background-position: -116px 0px;
  width: 48px;
  height: 48px;
}
.pl-ico.xcol3.xselected {
  background-position: -116px -58px;
  width: 48px;
  height: 48px;
}
.pl-ico.xdel {
  background-position: -52px -268px;
  width: 16px;
  height: 16px;
}
.pl-ico.xdownload {
  background-position: -254px -184px;
  width: 16px;
  height: 16px;
}
.pl-ico.xdownload2 {
  background-position: -267px -268px;
  width: 11px;
  height: 11px;
}
.pl-ico.xepub {
  background-position: -214px 0px;
  width: 30px;
  height: 36px;
}
.pl-ico.xexce {
  background-position: -254px -46px;
  width: 30px;
  height: 36px;
}
.pl-ico.xflash {
  background-position: -214px -92px;
  width: 30px;
  height: 36px;
}
.pl-ico.xgformula {
  background-position: -201px -268px;
  width: 12px;
  height: 12px;
}
.pl-ico.ximg {
  background-position: -40px -170px;
  width: 30px;
  height: 36px;
}
.pl-ico.xmenu {
  background-position: 0px -294px;
  width: 16px;
  height: 14px;
}
.pl-ico.xmformula {
  background-position: -157px -268px;
  width: 12px;
  height: 12px;
}
.pl-ico.xmimg {
  background-position: -131px -268px;
  width: 16px;
  height: 12px;
}
.pl-ico.xmodify {
  background-position: -182px -216px;
  width: 16px;
  height: 16px;
}
.pl-ico.xnext {
  background-position: -208px -216px;
  width: 16px;
  height: 16px;
}
.pl-ico.xno {
  background-position: -294px 0px;
  width: 15px;
  height: 15px;
}
.pl-ico.xnotice {
  background-position: -260px -216px;
  width: 16px;
  height: 16px;
}
.pl-ico.xoff {
  background-position: -26px -268px;
  width: 16px;
  height: 16px;
}
.pl-ico.xorg {
  background-position: -245px -268px;
  width: 12px;
  height: 11px;
}
.pl-ico.xpaper {
  background-position: -294px -99px;
  width: 14px;
  height: 14px;
}
.pl-ico.xpdf {
  background-position: -200px -170px;
  width: 30px;
  height: 36px;
}
.pl-ico.xpeper {
  background-position: -294px -25px;
  width: 14px;
  height: 16px;
}
.pl-ico.xperson {
  background-position: -78px -268px;
  width: 15px;
  height: 16px;
}
.pl-ico.xpid {
  background-position: -294px -193px;
  width: 13px;
  height: 12px;
}
.pl-ico.xpower {
  background-position: -182px -242px;
  width: 16px;
  height: 16px;
}
.pl-ico.xppt {
  background-position: -160px -170px;
  width: 30px;
  height: 36px;
}
.pl-ico.xprev {
  background-position: -234px -242px;
  width: 16px;
  height: 16px;
}
.pl-ico.xqid {
  background-position: -294px -215px;
  width: 13px;
  height: 12px;
}
.pl-ico.xremove {
  background-position: 0px -268px;
  width: 16px;
  height: 16px;
}
.pl-ico.xresize {
  background-position: -254px -155px;
  width: 15px;
  height: 19px;
}
.pl-ico.xs1 {
  background-position: 0px -116px;
  width: 44px;
  height: 44px;
}
.pl-ico.xs2 {
  background-position: -54px -116px;
  width: 44px;
  height: 44px;
}
.pl-ico.xs3 {
  background-position: -108px -116px;
  width: 44px;
  height: 44px;
}
.pl-ico.xsearchkey {
  background-position: -294px -147px;
  width: 14px;
  height: 13px;
}
.pl-ico.xsetting {
  background-position: -130px -242px;
  width: 16px;
  height: 16px;
}
.pl-ico.xsort {
  background-position: -82px -294px;
  width: 7px;
  height: 10px;
}
.pl-ico.xsort.xasc {
  background-position: -65px -294px;
  width: 7px;
  height: 10px;
}
.pl-ico.xsort.xdesc {
  background-position: -48px -294px;
  width: 7px;
  height: 10px;
}
.pl-ico.xsplit {
  background-position: -294px -75px;
  width: 15px;
  height: 14px;
}
.pl-ico.xstatus {
  background-position: -294px -170px;
  width: 13px;
  height: 13px;
}
.pl-ico.xteacher {
  background-position: -223px -268px;
  width: 12px;
  height: 12px;
}
.pl-ico.xtemplate {
  background-position: -104px -242px;
  width: 16px;
  height: 16px;
}
.pl-ico.xtest {
  background-position: -52px -242px;
  width: 16px;
  height: 16px;
}
.pl-ico.xtime {
  background-position: -294px -263px;
  width: 12px;
  height: 12px;
}
.pl-ico.xtip {
  background-position: -254px -92px;
  width: 24px;
  height: 24px;
}
.pl-ico.xtxt {
  background-position: -120px -170px;
  width: 30px;
  height: 36px;
}
.pl-ico.xunknow {
  background-position: -80px -170px;
  width: 30px;
  height: 36px;
}
.pl-ico.xupload {
  background-position: -130px -216px;
  width: 16px;
  height: 16px;
}
.pl-ico.xuser {
  background-position: -104px -216px;
  width: 16px;
  height: 16px;
}
.pl-ico.xvideo {
  background-position: 0px -170px;
  width: 30px;
  height: 36px;
}
.pl-ico.xview {
  background-position: -26px -294px;
  width: 12px;
  height: 10px;
}
.pl-ico.xvoice {
  background-position: -174px -92px;
  width: 30px;
  height: 36px;
}
.pl-ico.xweb {
  background-position: -254px 0px;
  width: 30px;
  height: 36px;
}
.pl-ico.xword {
  background-position: -214px -46px;
  width: 30px;
  height: 36px;
}
.pl-ico.xxml {
  background-position: -174px -46px;
  width: 30px;
  height: 36px;
}
.pl-ico.xyes {
  background-position: -103px -268px;
  width: 18px;
  height: 13px;
}
.pl-ico.xzip {
  background-position: -174px 0px;
  width: 30px;
  height: 36px;
}
